.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--twitter-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
}

.feed_right {
  display: flex;
  align-items: center;
  gap:10px;
  padding-right: 30px;
}

#basic-button {
  cursor: pointer;
}

#points::after {
  position: absolute;
  display: flex;
  content: "points";
  visibility: hidden;
  background-color: #333; 
  color: rgb(237, 164, 109); 
  padding: 10px 10px; 
  border-radius: 5px;
  font-size: 18px; 
}

#points:hover::after {
  visibility: visible;
  content: "points";
}


#languages::after {
  position: absolute;
  display: flex;
  content: "languages";
  visibility: hidden;
  background-color: #333; 
  color: rgb(173, 226, 247); 
  padding: 10px 10px; 
  border-radius: 5px;
  font-size: 18px; 
}

#languages:hover::after {
  visibility: visible;
  content: "languages";
}


